.ItemsList
  a
    



.movie
  padding-top: 10px
  padding-bottom: 10px
  font-size: 1.2rem
  margin-bottom: 50px

.Title
  font-size: 2rem
  font-weight: 700
  text-align: center
  text-decoration: none
  color: #000000
  &:hover
    color: #000000    
    opacity: .6
    text-decoration: none

.img
  width: 100%
  height: auto